@model DEX_MovieShopProject.Models.ViewModels.CartVM


<link href="~/css/shoppingcart.css" rel="stylesheet" />

<h1 style="margin-top:100px;">Shopping Cart</h1>
<hr />
<section>


    <table>
        <tr class="title">
            <td scope="col">Name</td>
            <td scope="col">Price</td>
            <td scope="col">Quantity</td>
            <td scope="col">Total Price</td>
            <td scope="col"></td>
        </tr>

        @foreach (var item in Model.CartMovies)
        {
            <tbody>
                <tr>
                    <td>
                        <div>
                            <img src="~/@item.Movie.ImgUrl" alt="@item.Movie.Title" /><br>
                            <span>@item.Movie.Title</span>
                        </div>
                    </td>
                    <td class="price">@item.Movie.Price kr</td>
                    <td class="number">
                        <button class="btn btn-link px-2 "
                                onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                            <i class="fa fa-minus"></i>
                        </button>
                        <input id="quantity" min="0" name="quantity" value="@item.NoOfCopies" type="number"
                               class="num" style="background-color:#6f42c1" />

                        <button class="btn btn-link px-2"
                                onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                            <i class="fa fa-plus"></i>
                        </button>
                    </td>
                    <td class="sum">@item.SubTotal kr</td>
                    <td>
                    <a href="#!" class="text-danger"><i class="fa fa-trash fa-lg"></i></a>
                    </td>
                </tr>


            </tbody>
        }
    </table>

    <div class="box001 card mb-4" >
        <div class="card-body p-4 d-flex flex-row justify-content-end">
            <div class="totalprice"><h4 style="color:#44d9e8">Total:@Model.Total kr</h4></div>
        </div>
    </div>

    <div class="d-flex justify-content-center">
        <div>
            <a asp-action="Index" asp-controller="Home" class="btn btn-light btn-lg me-3">
                Continue shopping
            </a>
        </div>
        <div>
            <a asp-action="CheckOut" asp-controller="Customer" class="btn btn-secondary btn-lg me-3">
                Check Out
            </a>
        </div>
    </div>
</section>


