@model DEX_MovieShopProject.Models.ViewModels.CartVM


@{
    Layout = "_Layout";

}

<section class="h-100" style="background-color: #170229;">
    <div class="container h-100 py-5">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-10">

                <div class="d-flex justify-content-between align-items-center mb-4">
                    <h1>Shopping Cart</h1>
                    <div>
                        <p class="mb-0">
                            <span class="text-muted"></span> <a href="#!" class="text-body">
                                <i class="fa fa-angle-down mt-1"></i>
                            </a>
                        </p>
                    </div>
                </div>

                @foreach (var item in Model.CartMovies)
                {
                    <div class="card rounded-3 mb-4" style="background-color:#30115e">
                        <div class="card-body p-4">
                            <div class="row d-flex justify-content-between align-items-center">
                                <div class="col-md-2 col-lg-2 col-xl-2">
                                    <img src="~/@item.Movie.ImgUrl" class="img-fluid rounded-3" alt="@item.Movie.Title">
                                </div>
                                <div class="col-md-3 col-lg-3 col-xl-3">
                                    <p class="lead fw-normal mb-2">@item.Movie.Title</p>
                                    <p><span class="text-muted">@item.Movie.Price </span>kr </p>
                                </div>
                                <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                                    <button class="btn btn-link px-2 "
                                            onclick="this.parentNode.querySelector('input[type=number]').stepDown(); Remove(@item.Movie.Id)">
                                        <i class="fa fa-minus" aria-hidden="true"></i>
                                    </button>

                                    <input id="form1" min="0" name="quantity" value="@item.NoOfCopies" type="number"
                                           class="form-control form-control-sm" style="background-color:#6f42c1" />

                                    <button class="btn btn-link px-2"
                                            onclick="this.parentNode.querySelector('input[type=number]').stepUp(); Add((@item.Movie.Id))">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </div>
                                <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                                    <h5 class="mb-0">@item.SubTotal kr</h5>
                                </div>
                                <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                                    <a href="#!" class="text-danger"><i class="fa fa-trash fa-lg"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>



                }




                <div class="card mb-4" style="background-color:#30115e">
                    <div class="card-body p-4 d-flex flex-row justify-content-end">
                        <div><h5 style="color:#44d9e8">Total:<span> @Model.Total</span> kr</h5></div>
                    </div>
                </div>

                <div class="d-flex justify-content-center">
                    <div>
                        <a asp-action="Index" asp-controller="Home" class="btn btn-secondary btn-lg me-3">
                            Continue shopping
                        </a>
                    </div>
                    <div>
                        <a asp-action="CheckOut" asp-controller="Customer" class="btn btn-light btn-lg me-3">
                            Check Out
                        </a>






                    </div>
                </div>
            </div>
</section>