@model IEnumerable<DEX_MovieShopProject.Models.Customer>

@{
    ViewData["Title"] = "Index";
}

<div class="container pt-5">
    <div class="row">
        <div class="col-md-6">
            <a class="btn btn-dark" href="/Customer/Create">Add Customer</a>

        </div>
    </div>

    <div class="row">
        <div class="col-md6">
            <h3>Customer List</h3>

            <table class="table table-striped table-bordered tabel-dark">
                <thead>
                    <tr>
                        <th>Id</th> 
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Billing Address</th>
                        <th>Billing Zip</th>
                        <th>Billing City</th>
                        <th>Delivery Address</th>
                        <th>Delivery Zip</th>
                        <th>Delivery City</th>
                        <th>Email Address</th>
                        <th>PhoneNo</th>


                                              

                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>
                           <td>@item.Id</td> 
                            <td>@item.FirstName</td>
                            <td>@item.LastName</td>
                           @*  <td>@item.BillingAddress</td>
                            <td>@item.BillingZip</td>
                            <td>@item.BillingCity</td>  *@
                            <td>@item.DeliveryAddress</td>
                            <td>@item.DeliveryZip</td>
                            <td>@item.DeliveryCity</td> 
                            <td>@item.EmailAddress</td>
                            <td>@item.PhoneNo</td>
                            
                            
                            <td>
                                <a value ="Edit sm-2 m-2" href="/Customer/Edit?id=@item.Id">Edit</a> |
                                <a value ="Delete sm-2 m-2" onclick="return window.confirm('Are You Sure?')" href="/Customer/Delete?id=@item.Id">Delete</a>
                                <a value="Delete sm-2 m-2"  href="/Customer/Details?id=@item.Id">Details</a>
                            </td>

                        </tr>
                    }

                </tbody>

            </table>

        </div>

    </div>

</div>