@model Movie

@{
    ViewData["Title"] = "Details";
}

<link href="~/css/shoppingcart.css" rel="stylesheet" />
<script src="~/js/site.js"></script>


<h1 style="margin-top:100px">Details of Movie</h1>

 <hr />
<div class="row">
    <div class="col-12 col-md-6 offset-md-3 card">
        <img src="~/@Model.ImgUrl" style="align-content:center" width="500" class="img-fluid" alt="@Model.Title" />
    </div>
    <br />
    <div>
        <h2 class="card-title">@Model.Title</h2>
        <h5 class="card-title">Director: @Model.Director</h5>
        <p class="card-text">@Model.Description</p>
        <h3>@Model.Price<span>kr</span></h3>
    </div>
</div>
<br />
<div class="btn-group">
    <a href="javascript:;" class="btn btn-secondary" onclick="Add(~/@Model.Id)">Add to Cart</a>
</div>

<br />
<br />
<br />
<a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
<a asp-action="Index">Back to List</a>




