@model IEnumerable<DEX_MovieShopProject.Models.Movie>

@{
    ViewData["Title"] = "Index";
}

<link href="~/css/shoppingcart.css" rel="stylesheet" />


<h1 style="margin-top:100px;">Movies List</h1>
<hr />
<section>

    <table style="width: 1200px;">
        <tr class="title">
            <td scope="col">Name</td>
            <td scope="col">Director</td>
            <td scope="col">ReleaseYear</td>
            <td scope="col">Price</td>
            <td scope="col"></td>
            <td scope="col"></td>

        </tr>

        @foreach (var item in Model)
        {

            <tbody>
                <tr>
                    <td>
                        <div>
                            <img src=~/@Html.DisplayFor(modelItem => item.ImgUrl) alt="@Html.DisplayFor(modelItem => item.Title)" /><br>
                            <span>@Html.DisplayFor(modelItem => item.Title)</span>
                        </div>
                    </td>
                    <td class="price">@Html.DisplayFor(modelItem => item.Director)</td>
                    <td class="number">@Html.DisplayFor(modelItem => item.ReleaseYear)</td>
                    <td class="totalprice">@Html.DisplayFor(modelItem => item.Price)</td>
                    
                    <td>

                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> 
                    </td>
                    <td>
                        <div class="btn-group">
                            <a href="javascript:;" class="btn btn-secondary" onclick="Add(@item.Id)">Add to Cart</a>
                        </div>
                    </td>
                </tr>


            </tbody>

        }
    </table>

</section>
